/*topbar styling */
.topbar {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  font-size: 1.1vw;
}
.logo {
  order: 1;
  flex-grow: 2;
  background-color: red;
  margin: 0;
  padding: 10px 0px 0px 0px;
}
.user-url{
  max-height: 7vh;
}
.user-details {
  order: 2;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: yellow;
  margin: 0;
  min-width: 50%;
}
.top-bar-message {
  order: 1;
}
.login-section {
  order: 3;
  flex-grow: 1;
  background-color: greenyellow;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  min-width: 50%;
}
.login-dropdown {
  order: 2;
  width: 75%;
  display: flex;
  justify-content: center;
}
.login-dropdown-message {
  order: 1;
  width: 25%;
  display: flex;
  justify-content: center;
}
.login-request-message{
  order: 2;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: yellow;
  margin: 0;
  padding-left: 1%;
}

.link {
  text-decoration: none;
  color: black;
}
.error-message{
  padding-top: 11vh;
}
/* article-container styling*/
.articles-container {
  display: flex;
  flex-direction: column;
  background-color: grey;
  position: relative;
  height: 100%;
  align-items: center;
  padding-top: 11vh;
}
.articles-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  font-size: 1.1vw;
}
/* button styling */

button {
  width: 45%;
  height: 60%;
  font-size: 90%;
  text-align: center;
}
#load-more-button {
  width: 100%;
  font-size: 100%;
}

#load-more-comments-button {
  width: 100%;
  font-size: 100%;
}
#article-comment-box-button {
  width: 10%;
  height: 11%;
  order: 2;
}
#logout-button {
  width: 40%;
  height: 41%;
  order: 2;
}

/* filter-box styling */

.filter-topic-container {
  order: 1;
  width: 70vw;
  background-color: turquoise;
  display: flex;
  flex-direction: column;
}
.filter-topic-header {
  order: 1;
  background-color: orange;
}
.filter-topic-topics {
  order: 2;
  background-color: salmon;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.filter-topic-topic {
  background-color: red;
}

/* articles styling */
.articles {
  order: 2;
  width: 100%;
}

/*article-box styling*/
.article-box {
  border: black solid 1px;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 50% 20% 30%;
  grid-template-areas:
    "title topic" "post-info post-info"
    "comments-votes vote-area";
  position: relative;
  margin: 10px;
}

.article-box-title {
  grid-area: title;
  background-color: red;
  padding-bottom: 10%;
  margin: 0;
}
.article-box-topic {
  grid-area: topic;
  background-color: pink;
  text-align: right;
  margin: 0;
  padding: 0px 2px 0px 0px;
}
.article-box-post-info {
  grid-area: post-info;
  background-color: yellow;
  margin: 0;
}
.article-box-count-area {
  display: flex;
  grid-area: comments-votes;
  background-color: green;
  margin: 0;
  align-items: flex-end;
}

.article-box-votes {
  display: flex;
  grid-area: vote-area;
  background-color: blue;
  align-items: center;
  justify-content: center;
  margin: 0;
}

/* footer styling */
.footer-section {
  order: 3;
  height: 10vh;
  background-color: mediumspringgreen;
  width: 50vw;
}

/* thread-container styling */

.thread-container {
  display: flex;
  flex-direction: column;
  background-color: grey;
  height: 100%;
  align-items: center;
  padding-top: 11vh;
}
.thread-column {
  display: flex;
  flex-direction: column;
  width: 50vw;
  font-size: 1.1vw;
}
/* thread-article-box-styling */
.article-body-box {
  order: 1;
  background-color: yellow;
  border: black solid 1px;
  display: flex;
  flex-direction: column;
  min-height: 30vh;
  margin: 0;
}
.article-body-header {
  order: 1;
  display: flex;
  flex-direction: row;
  min-height: 8vh;
}
.article-body-box-title {
  order: 1;
  background-color: orange;
  margin: 0;
  width: 100%;
  font-size: 80%;
}
.article-body-box-topic {
  order: 2;
  background-color: steelblue;
  margin: 0;
  width: 100%;
  font-size: 120%;
  display: flex;
  justify-content: flex-end;
  height: 100%;
}
.article-body-body {
  order: 2;
  grid-area: body;
  background-color: pink;
  height: 80%;
  margin-top: 0;
  font-size: calc(0.5em + 0.5vw);
}

.article-body-box-post-info {
  order: 3;
  background-color: green;
  margin: 0;
  max-height: 6vh;
}
.article-body-box-footer {
  order: 4;
  display: grid;
  grid-template-areas: "count votes";
  grid-template-columns: 50% 50%;
}
.article-body-box-count-area {
  grid-area: count;
  background-color: red;
  margin: 0;
  display: flex;
  align-items: center;
  max-height: 6vh;
}
.article-body-box-votes {
  grid-area: votes;
  background-color: lightcoral;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

/* thread input-area styling */

.article-comment-box-area {
  order: 2;
  background-color: green;
  display: flex;
  flex-direction: column;
  font-size: 1.1vw;
  align-items: center;
}

.article-comment-box-header {
  order: 1;
  text-align: left;
  margin-bottom: 0;
}

.article-comment-box-form {
  order: 2;
  width: 90%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.article-comment-box-input {
  order: 1;
  width: 100%;
  height: 75%;
}

/* thread comment-list styling */

.article-comment-list {
  order: 3;
  background-color: pink;
}

.comment-box {
  display: flex;
  flex-direction: column;
}
.comment-box-body {
  order: 1;
}
.comment-box-info {
  order: 2;
  display: flex;
  flex-direction: row;
}
.comment-box-author {
  width: 58%;
  order: 1;
}
.comment-box-votes-info {
  width: 13%;
  order: 2;
}
.comment-box-vote-buttons {
  width: 25%;
  order: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.comment-box-button {
  width: 45%;
  height: 50%;
}
.article-page-footer {
  order: 4;
  height: 10vh;
  background-color: mediumspringgreen;
  width: 50vw;
}
