@import url("https://rsms.me/inter/inter.css");
.App {
  font-family: "Inter", sans-serif;
  background-color: silver;
}
/*topbar styling */
.topbar {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  font-size: 1.2vw;
  height: 8vh;
}
.logo {
  order: 1;
  background-color: grey;
  border-bottom: red solid 2px;
  margin: 0;
  width: 65%;
  display: flex;
  align-items: center;
  padding-left: 2.5%;
  font-size: 3rem;
}
.user-url {
  max-height: 7vh;
}
.user-details {
  order: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: grey;
  border-bottom: red solid 2px;
  margin: 0;
  min-width: 40%;
}
.top-bar-message {
  order: 1;
}
.login-section {
  order: 3;
  flex-grow: 1;
  background-color: grey;
  border-bottom: red solid 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 54%;
}
.login-dropdown {
  order: 2;
  width: 50%;
  display: flex;
  justify-content: center;
}
.login-dropdown-message {
  order: 1;
  width: 60%;
  display: flex;
  justify-content: flex-end;
}
.login-request-message {
  order: 2;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding-left: 1%;
}

.link {
  text-decoration: none;
  color: black;
}
.error-message {
  padding-top: 11vh;
}
/* article-container styling*/
.articles-container {
  display: flex;
  flex-direction: column;
  background-color: silver;
  position: relative;
  height: 100%;
  align-items: center;
  padding-top: 8vh;
}
.articles-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  font-size: 1.1vw;
  padding-bottom: 4%;
}

/* button styling */

button {
  width: 45%;
  height: 60%;
  font-size: 90%;
}
.vote-button {
  background-color: white;
  height: 6vh;
  width: 90%;
  border: none;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.no-user-vote-button {
  background-color: white;
  height: 6vh;
  width: 90%;
  border: none;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  fill: grey;
}
.thread-vote-button {
  background-color: white;
  height: 8vh;
  width: 90%;
  border: none;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.no-user-thread-vote-button {
  background-color: white;
  height: 8vh;
  width: 90%;
  border: none;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  fill: grey;
}
.vote-button:focus {
  outline: none;
}
.no-user-vote-button:focus {
  outline: none;
}
.thread-vote-button:focus {
  outline: none;
}
.no-user-thread-vote-button:focus {
  outline: none;
}
#load-more-button {
  width: 100%;
  font-size: 100%;
  height: 100%;
  border-radius: 7px;
  outline: none;
}

#load-more-comments-button {
  width: 95%;
  height: 100%;
  font-size: 100%;
}
#article-comment-box-button {
  width: 10%;
  height: 11%;
  order: 2;
}
#logout-button {
  width: 20%;
  height: 41%;
  order: 2;
}
#login-button {
  width: 30%;
}

/* filter-box styling */

.filter-topic-container {
  order: 1;
  width: 100%;
  background-color: grey;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: red solid 2px;
  z-index: 100;
  position: fixed;
  height: 4vh;
  font-weight: 300;
}

.filter-topic-topics {
  order: 2;
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.filter-topic-topic {
  color: black;
}
.sort-bar {
  order: 3;
  width: 35%;
  display: flex;
  justify-content: space-evenly;
}
.filter-dropdown {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
/* new-article-form styling */

.new-article-form {
  min-width: 50vw;
  margin-top: 7vh;
  order: 2;
  display: flex;
  flex-direction: column;
  border: solid black 1px;
  border-radius: 7px;
  background-color: white;
  padding-bottom: 1vh;
  box-shadow: 5px 10px #888888;
}
.new-article-head {
  border-bottom: red solid 2px;
  padding-left: 1vw;
  padding-bottom: 2vh;
}
.new-article-header {
  order: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.new-article-select {
  min-width: 13vw;
}
.new-article-title {
  min-width: 25vw;
}
.new-article-title-input {
  min-width: 26vw;
}
.new-article-body {
  order: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1vh;
  padding-top: 2vh;
}
.new-article-text-area {
  width: 45vw;
  height: 15vh;
}
.new-article-footer {
  order: 4;
  display: flex;
  justify-content: center;
}
.new-article-button {
  max-width: 5vw;
}

/* articles styling */
.articles {
  order: 3;
  width: 100%;
  padding-top: 1%;
}

/*article-box styling*/
.article-box {
  box-shadow: 5px 10px #888888;
  order: 1;
  background-color: white;
  border-radius: 7px;
  border: black solid 1px;
  display: flex;
  flex-direction: column;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.article-box-header {
  order: 1;
  display: flex;
  flex-direction: row;
  min-height: 5vh;
}
.article-icon {
  order: 1;
  width: 19%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding-left: 2%;
  padding-top: 3.5%;
  border-radius: 7px;
}

.article-box-title {
  order: 2;
  border-radius: 7px;
  background-color: white;
  margin-bottom: 0;
  width: 150%;
  font-size: 115%;
  text-decoration: none;
}
.article-box-topic {
  order: 3;
  border-radius: 7px;
  background-color: white;
  width: 50%;
  font-size: 130%;
  display: flex;
  justify-content: flex-end;
  min-height: 5.3vh;
  padding-right: 1.5%;
  text-decoration: underline;
  text-decoration-color: red;
  text-underline-position: under;
}

.article-box-content {
  padding-top: 1.5%;
  order: 2;
  border-top: red solid 2px;
  display: flex;
  flex-direction: row;
  background-color: white;
  max-height: 9vh;
  padding-bottom: 2%;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
.delete-article-area {
  order: 3;
  max-width: 7vw;
}
.delete-article-area-button {
  min-width: 6vw;
  min-height: 9vh;
  background-color: white;
  border: none;
}
.delete-article-area-button:focus {
  outline: none;
}
.article-box-post-info {
  order: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  margin: 0;
  width: 38vw;
  border-radius: 7px;
  padding-top: 1vh;
}
.article-box-author {
  order: 1;
  margin: 0;
}
.article-box-count-area {
  order: 2;
}
.article-box-votes {
  order: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  border-bottom-left-radius: 7px;
  max-width: 4.8vw;
  padding-left: 0.8%;
  padding-top: 0.5%;
  height: 10vh;
}

/* footer styling */
.footer-section {
  display: flex;
  justify-content: center;
  order: 3;
  height: 7vh;
  background-color: white;
  width: 50vw;
  border-radius: 7px;
  border: solid black 1px;
  text-align: center;
}
.footer-message {
  border-bottom: red solid 1px;
  width: 50vw;
}

/* thread-container styling */

.thread-container {
  display: flex;
  flex-direction: column;
  background-color: silver;
  align-items: center;
  padding-top: 11vh;
}
.thread-column {
  display: flex;
  flex-direction: column;
  width: 50vw;
  font-size: 1.1vw;
  padding-bottom: 4%;
}
/* thread-article-box-styling */
.article-body-box {
  box-shadow: 5px 10px #888888;
  order: 1;
  background-color: white;
  border: black solid 1px;
  display: flex;
  flex-direction: column;
  min-height: 30vh;
  border-radius: 7px;
}
.article-body-header {
  order: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-height: 17.5vh;
}
.article-body-icon {
  order: 1;
  width: 35%;
  background-color: white;
  padding-left: 5%;
  padding-top: 8%;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 5vh;
}
.article-body-box-title {
  order: 2;
  background-color: white;
  margin: 0;
  width: 155%;
  font-size: 80%;
  border-radius: 7px;
}
.article-body-box-topic {
  order: 3;
  background-color: white;
  border-radius: 7px;
  margin: 0;
  width: 45%;
  font-size: 112%;
  display: flex;
  justify-content: flex-end;
  height: 100%;
  color: black;
  padding-right: 1.5%;
  text-decoration: underline;
  text-decoration-color: red;
  text-underline-position: under;
}
.article-body-body {
  border-top: red solid 2px;
  border-bottom: red solid 2px;
  text-align: justify;
  text-justify: inter-word;
  order: 2;
  grid-area: body;
  background-color: white;
  height: 80%;
  margin-top: 0;
  font-size: calc(0.5em + 0.5vw);
  padding-left: 1%;
  padding-right: 1%;
}
.article-body-box-content {
  order: 3;
  display: flex;
  flex-direction: row;
  background-color: white;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding-top: 1%;
}

.article-body-box-post-info {
  background-color: white;
  margin: 0;
  padding-top: 1%;
  padding-bottom: 1%;
}
.article-body-box-footer {
  order: 2;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 170%;
  border-bottom-right-radius: 7px;
}
.article-body-box-count-area {
  grid-area: count;
  background-color: white;
  border-radius: 7px;
  margin: 0;
  display: flex;
  order: 1;
  align-items: center;
}
.article-body-box-votes {
  order: 2;
  background-color: white;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  max-width: 16.8vw;
  max-height: 11vh;
}

/* thread input-area styling */

.article-comment-box-area {
  box-shadow: 5px 10px #888888;
  order: 2;
  background-color: white;
  border: black solid 1px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  font-size: 1.1vw;
  align-items: center;
}

.article-comment-box-header {
  order: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding-left: 1.5%;
}

.article-comment-box-form {
  order: 2;
  width: 90%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 1%;
}
.article-comment-box-input {
  order: 1;
  width: 100%;
  height: 85%;
}

/* thread comment-list styling */

.article-comment-list {
  order: 3;
  background-color: white;
  box-shadow: 5px 10px #888888;
  border-radius: 7px;
  border: 1px solid black;
}
.comments-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: red solid 1px;
  min-height: 15vh;
}
.comments-title {
  order: 1;
  min-width: 50%;
  padding-left: 1vh;
}
.comments-sort-bar {
  order: 2;
  padding-right: 1vh;
}

.comment-box {
  display: flex;
  flex-direction: column;
  border-bottom: red solid 1px;
  padding-left: 1%;
  padding-right: 1%;
}
.comment-box-body {
  text-align: justify;
  text-justify: inter-word;
  order: 1;
  display: flex;
  flex-direction: row;
}
.comment-box-info {
  order: 2;
  display: flex;
  flex-direction: row;
  background-color: white;
  max-height: 9vh;
}
.comment-box-info-content {
  order: 2;
  display: flex;
  flex-direction: column;
  width: 80%;
}
.comment-box-author {
  background-color: white;
  margin: 0;
}
.comment-box-votes-info {
  width: 13%;
  margin-top: 2%;
  background-color: white;
}
.comment-box-vote-buttons {
  background-color: white;
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  order: 1;
}
.delete-button {
  height: 7vh;
  width: 8vh;
  text-align: center;
  background-color: white;
  border: none;
}
.delete-button:focus {
  outline: none;
}
.delete-button-area {
  order: 3;
  width: 10%;
}
.comment-box-button {
  background-color: white;
  height: 6vh;
  width: 90%;
  border: none;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.comment-box-button:focus {
  outline: none;
}
.no-user-comment-box-button {
  background-color: white;
  height: 6vh;
  width: 90%;
  border: none;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  fill: grey;
}
.no-user-comment-box-button:focus {
  outline: none;
}
.article-page-footer {
  order: 4;
  height: 7vh;
  background-color: white;
  display: flex;
  justify-content: center;
  border-radius: 7px;
}
.error-message {
  display: flex;
  flex-direction: column;
  background-color: silver;
  position: relative;
  height: 88.5vh;
  align-items: center;
  text-decoration: underline;
  text-decoration-color: red;
  text-underline-position: under;
  font-size: 2.5rem;
  justify-content: center;
}
.error-message-box {
  background-color: white;
  border: solid black 1px;
  border-radius: 7px;
  width: 50vw;
  display: flex;
  justify-content: center;
  height: 20vh;
}

/* media queries */

@media only screen and (max-width: 768px) {
  .topbar {
    max-height: 6vh;
  }
  .user-url {
    max-height: 5vh;
  }
  .logo {
    min-width: 40%;
    font-size: 3rem;
  }
  .login-section {
    min-width: 50%;
  }
  .articles-column {
    width: 55vh;
    font-size: 0.7rem;
  }
  .articles-container {
    padding-top: 6vh;
    max-width: 100%;
  }
  .thread-column {
    min-width: 55vh;
  }
  .thread-container {
    margin-top: 0;
    padding-top: 8.5vh !important;
  }
  .thread-vote-button {
    max-height: 5vh;
  }
  .no-user-thread-vote-button {
    max-height: 5vh;
  }
  .new-article-form {
    font-size: 1rem;
    max-height: 32vh;
  }
  .new-article-header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .new-article-select {
    min-width: 27vw !important;
    text-align: center;
  }
  .new-article-head {
    margin-bottom: 2%;
    padding-bottom: 2%;
    margin-top: 2%;
  }
  .new-article-body {
    max-height: 12vh;
    padding-top: 1.5%;
  }
  .new-article-title-input {
    min-width: 45vw;
    margin-left: 14%;
    margin-right: 13.3%;
  }
  .new-article-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .new-article-form {
    min-width: 73vw;
    margin-top: 6vh;
  }
  .new-article-button {
    max-width: 10vw;
  }
  #load-more-button {
    max-height: 5vh;
  }
  .footer-section {
    max-height: 5vh;
  }
  .new-article-text-area {
    margin-top: 1vh;
    min-width: 45vw;
    max-height: 11vh;
  }
  .article-body-box {
    font-size: 2.3vw;
    min-height: 39vh !important;
  }
  .article-body-icon {
    padding-top: 4.2% !important;
    max-width: 15%;
    padding-left: 4.2% !important;
  }
  .article-body-box-title {
    width: 96% !important;
    font-size: 1.5vw !important;
  }
  .article-body-box-content {
    max-height: 10vh;
  }
  .article-body-body {
    padding-left: 1% !important;
    padding-right: 1% !important;
  }
  .article-body-box-count-area {
    max-height: 1.5vh;
    padding-top: 2.8%;
  }
  .article-body-box-post-info {
    padding-top: 1.8% !important;
    max-width: 52vw;
  }

  .article-body-box-footer {
    padding-top: 1%;
  }
  .article-body-box-votes {
    max-height: 10.5vh;
    padding-top: 3%;
  }
  .article-comment-box-header {
    font-size: 2.3vw;
  }
  .article-body-header {
    max-height: 17vh !important;
    padding-right: 2%;
  }
  .comment-sort {
    width: 18vw;
  }
  .comments-header {
    font-size: 2.5vw;
    min-height: 5vh !important;
  }
  .comment-box {
    font-size: 2vw;
  }
  .comment-box-votes-info {
    width: 10vw !important;
  }
  .comment-box-body {
    margin-bottom: 1%;
  }
  .comment-box-vote-buttons {
    max-height: 6vh;
  }
  .comment-box-info-content {
    padding-top: 2.5%;
    max-height: 6vh;
  }
  .comments-title {
    margin: 0;
  }
  .filter-dropdown-bar {
    width: 13vw;
  }
  .topbar {
    width: 100%;
    font-size: 1.8vw;
  }
  .filter-topic-container {
    font-size: 1.1rem;
  }
  .article-box {
    max-height: 19vh;
  }
  .article-box-content {
    max-height: 7vh !important;
    padding-top: 0 !important;
  }
  .article-box-post-info {
    max-height: 5vh;
    min-width: 57vw;
    padding-top: 3%;
    padding-bottom: 0.75%;
    padding-left: 0.75%;
  }
  .delete-article-area {
    min-width: 10vw;
    padding-top: 1%;
  }
  .delete-article-area-button {
    min-height: 6vh;
  }
  .vote-button {
    min-height: 3vh;
    min-width: 6vw;
  }
  .no-user-vote-button {
    min-height: 3vh;
    min-width: 6vw;
  }
  .article-box-votes {
    max-height: 5vh;
    padding-top: 3.5%;
  }
  .delete-button-area{
    padding-top: 4%;
  }
  .article-box-header {
    max-height: 12vh;
  }
  .article-box-title {
    max-height: 12vh;
    font-size: 0.9rem !important;
    padding-top: 1.5%;
    padding-bottom: 1%;
  }
  .error-message {
    justify-content: flex-start !important;
  }
  .error-message-box {
    width: 75vw !important;
  }
  .delete-button {
    height: 3vh;
    width: 4.5vh !important;
  }
}
@media only screen and (max-width: 414px) {
  .new-article-form {
    font-size: 1.7vh;
  }
  .top-bar-message {
    font-size: 1.6vh;
  }
  .new-article-header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .new-article-select {
    min-width: 50vw !important;
    text-align: center;
  }
  .new-article-head {
    margin-bottom: 2%;
  }
  .new-article-body {
    min-height: 18vh;
    padding-bottom: 0;
    padding-top: 0;
  }
  .new-article-title-input {
    min-width: 76vw;
  }
  .new-article-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .new-article-title {
    min-height: 6vh;
  }
  #logout-button {
    min-width: 15vw !important;
    font-size: 1.8vh;
    min-height: 4vh;
  }

  .new-article-form {
    margin-top: 12vh;
    min-width: 82.5vw;
    min-height: 38vh;
  }

  .new-article-button {
    max-width: 13vw;
  }
  .articles-column {
    max-width: 83vw;
    font-size: 2.9vw;
    padding-bottom: 0;
  }
  .article-box {
    min-height: 17vh;
    max-height: 26vh;
    padding-bottom: 2%;
  }
  .filter-topic-container {
    flex-direction: column;
    font-size: 1.8vh;
    min-height: 8.5vh;
  }
  .filter-topic-topics {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 3%;
    width: 95%;
    display: flex;
    justify-content: space-between;
    min-height: 4vh;
  }
  .delete-article-area {
    max-width: 94vw;
    max-height: 14vh;
    display: flex;
    justify-content: center;
    padding-top: 4%;
  }
  .delete-article-area-button {
    min-width: 11vw;
    min-height: 6vh;
  }
  .sort-bar {
    padding-bottom: 3%;
  }
  .new-article-text-area {
    min-width: 70vw;
  }
  .new-article-header {
    flex-direction: column;
  }
  .new-article-title {
    order: 1;
  }
  .new-article-select {
    max-width: 30vw;
  }

  .article-icon {
    padding-top: 7%;
    padding-left: 5%;
    height: 50%;
  }
  .vote-button {
    min-height: 3.8vh;
    min-width: 5.9vh;
  }
  .no-user-vote-button {
    min-height: 3.8vh;
    min-width: 5.9vh;
  }
  .article-box-votes {
    min-height: 6.8vh;
    min-width: 12vw;
    padding-top: 3.5%;
  }
  .sort-bar {
    width: 80%;
  }
  .filter-dropdown-bar {
    width: 25vw;
  }
  .article-box-content {
    max-height: 14vh;
  }
  .article-box-header {
    max-height: 10vh;
    min-height: 5vh;
    padding-bottom: 5.5%;
  }
  .article-icon {
    max-height: 3.5vh;
    padding-left: 3.5%;
    padding-right: 1.5%;
  }
  .article-box-title {
    font-size: 2.4vw !important;
    width: 100%;
    padding-bottom: 1%;
    max-height: 9.5vh !important;
    min-height: 2vh !important;
  }
  .article-box-topic {
    font-size: 2.5vw !important;
    width: 40%;
    padding-top: 2%;
    padding-right: 3%;
  }
  .article-box-post-info {
    min-width: 53vw;
  }
  .article-box-count-area {
    margin-top: 1%;
  }
  .login-section {
    width: 50%;
    justify-content: center;
  }
  .login-dropdown {
    max-width: 35vw;
  }
  .login-dropdown-message {
    display: flex;
    justify-content: flex-start;
    max-width: 20vw;
    font-size: 2vh;
  }
  .logo {
    min-width: 1vw !important;
    max-width: 25vw !important;
    font-size: 1.1rem;
  }
  .error-message {
    font-size: 2rem;
  }
  #login-button {
    height: 4vh;
    min-width: 15vw;
    font-size: 0.9rem;
  }
  .thread-column {
    min-width: 85vw;
  }
  .article-body-box {
    min-height: 70em !important;
  }
  .article-body-box-title {
    font-size: 2.1vw !important;
  }
  .article-body-box-topic {
    font-size: 3vw !important;
  }
  .article-body-body {
    font-size: 3.5vw;
  }
  .article-body-box-content {
    font-size: 3.2vw;
    flex-wrap: wrap;
  }
  .article-body-box-footer {
    max-width: 56vw;
    padding-top: 8.2%;
  }
  .article-body-header {
    max-height: 22vh !important;
  }

  .article-body-box-count-area {
    padding-top: 2.5%;
  }
  .user-details {
    min-width: 73%;
  }
  #article-comment-box-button {
    min-width: 20vw;
    font-size: 1rem;
  }
  .article-comment-box-header {
    font-size: 0.7rem;
    padding-left: 20%;
  }
  .comment-sort {
    width: 30vw;
  }
  .comments-title {
    min-width: 15vw;
  }
  .comments-header {
    justify-content: center !important;
  }
  .comments-sort-bar {
    min-width: 20vw;
  }
  .comment-box {
    min-height: 45.5vh !important;
    font-size: 0.9rem;
    padding-left: 2%;
    padding-right: 2%;
    justify-content: center;
  }
  .comment-box-button {
    min-height: 4.1vh;
    min-width: 12.1vw;
    padding-top: 10%;
    padding-right: 5%;
  }
  .no-user-comment-box-button {
    min-height: 4.1vh;
    min-width: 12.1vw;
    padding-top: 10%;
    padding-right: 5%;
  }
  .comment-box-vote-buttons {
    min-height: 10.5vh;
    padding-left: 5%;
    padding-top: 2%;
  }
  .thread-vote-button {
    min-height: 6vh;
    padding-left: 5%;
  }
  .no-user-thread-vote-button {
    min-height: 6vh;
    padding-left: 5%;
  }
  .article-body-box-votes {
    min-height: 4vh;
    min-width: 12.1vw;
    padding-top: 10%;
    padding-right: 5%;
  }
  .comment-box-votes-info {
    min-width: 20vw;
  }
  .comment-box-info-content {
    padding-left: 5%;
  }
  .comment-box-info {
    padding-top: 1%;
    flex-wrap: wrap;
  }
  .delete-button-area {
    display: flex;
    justify-content: center;
    min-width: 100%;
  }
  .delete-button {
    min-width: 25vw;
    min-height: 5vh;
  }
  .article-page-footer {
    font-size: 1rem;
  }
}
