@import url("https://rsms.me/inter/inter.css");
.App {
  font-family: "Inter", sans-serif;
  background-color: silver;
}
/*topbar styling */
.topbar {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  font-size: 1.2vw;
}
.logo {
  order: 1;
  background-color:grey;
  border-bottom: red solid 4px;
  margin: 0;
  width: 65%;
  display: flex;
  align-items: center;
  padding-left: 2.5%;
}
.user-url {
  max-height: 7vh;
}
.user-details {
  order: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: grey;
  border-bottom: red solid 4px;
  margin: 0;
  min-width: 35%;
}
.top-bar-message {
  order: 1;
}
.login-section {
  order: 3;
  flex-grow: 1;
  background-color: grey;
  border-bottom: red solid 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 45%;
}
.login-dropdown {
  order: 2;
  width: 50%;
  display: flex;
  justify-content: center;
}
.login-dropdown-message {
  order: 1;
  width: 60%;
  display: flex;
  justify-content: flex-end;
}
.login-request-message {
  order: 2;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding-left: 1%;
}

.link {
  text-decoration: none;
  color: black;
}
.error-message {
  padding-top: 11vh;
}
/* article-container styling*/
.articles-container {
  display: flex;
  flex-direction: column;
  background-color: silver;
  position: relative;
  height: 100%;
  align-items: center;
  padding-top: 11vh;
}
.articles-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  font-size: 1.1vw;
  padding-bottom: 4%;
}
/* button styling */

button {
  width: 45%;
  height: 60%;
  font-size: 90%;
  text-align: center;
}
#load-more-button {
  width: 100%;
  font-size: 100%;
  height: 100%;
}

#load-more-comments-button {
  width: 95%;
  height: 100%;
  font-size: 100%;
}
#article-comment-box-button {
  width: 10%;
  height: 11%;
  order: 2;
}
#logout-button {
  width: 20%;
  height: 41%;
  order: 2;
}
#login-button {
  width: 30%;
}

/* filter-box styling */

.filter-topic-container {
  order: 1;
  width: 90vw;
  background-color: grey;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: red solid 3px;
}

.filter-topic-topics {
  order: 2;
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.filter-topic-topic {
  color: black;
}
.sort-bar {
  order: 3;
  width: 35%;
  display: flex;
  justify-content: space-evenly;
}
.filter-dropdown {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


/* articles styling */
.articles {
  order: 2;
  width: 100%;
  padding-top: 1%;
}

/*article-box styling*/
.article-box {
  box-shadow: 5px 10px #888888;
  order: 1;
  background-color: white;
  border-radius: 7px;
  border: black solid 1px;
  display: flex;
  flex-direction: column;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.article-box-header {
  order: 1;
  display: flex;
  flex-direction: row;
  min-height: 5vh;
}

.article-box-title {
  order: 1;
  border-radius: 7px;
  background-color: white;
  padding-left: 0.5%;
  margin-bottom: 0;
  width: 140%;
  font-size: 100%;
  text-decoration: none;
}
.article-box-topic {
  order: 2;
  border-radius: 7px;
  background-color: white;
  margin: 0;
  width: 60%;
  font-size: 120%;
  display: flex;
  justify-content: flex-end;
  min-height: 5vh;
  padding-right: 1%;
}
.article-box-post-info {
  order: 2;
  border-top: red solid 2px;
  padding-top: 1%;
  padding-left: 0.5%;
  background-color: white;
  margin: 0;
  max-height: 6vh;
}
.article-box-voting {
  order: 3;
  display: grid;
  grid-template-areas: "count votes";
  grid-template-columns: 70% 30%;
  min-height: 5vh;
}
.article-box-count-area {
  grid-area: count;
  background-color: white;
  margin: 0;
  display: flex;
  align-items: center;
  max-height: 6vh;
  border-radius: 7px;
  padding-left: 0.5%;
}

.article-box-votes {
  grid-area: votes;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  border-radius: 7px;
}

/* footer styling */
.footer-section {
  display: flex;
  justify-content: center;
  order: 3;
  height: 5vh;
  background-color: grey;
  width: 50vw;
}

/* thread-container styling */

.thread-container {
  display: flex;
  flex-direction: column;
  background-color: silver;
  height: 100%;
  align-items: center;
  padding-top: 11vh;
}
.thread-column {
  display: flex;
  flex-direction: column;
  width: 50vw;
  font-size: 1.1vw;
  padding-bottom: 4%;
}
/* thread-article-box-styling */
.article-body-box {
  box-shadow: 5px 10px #888888;
  order: 1;
  background-color: white;
  border: black solid 1px;
  display: flex;
  flex-direction: column;
  min-height: 30vh;
  border-radius: 7px;
}
.article-body-header {
  order: 1;
  display: flex;
  flex-direction: row;
  min-height: 8vh;
}
.article-body-box-title {
  order: 1;
  background-color: white;
  margin: 0;
  width: 145%;
  font-size: 85%;
  border-radius: 7px;
  padding-left: 0.5%;
}
.article-body-box-topic {
  order: 2;
  background-color: white;
  border-radius: 7px;
  margin: 0;
  width: 55%;
  font-size: 120%;
  display: flex;
  justify-content: flex-end;
  height: 100%;
  text-decoration: none;
  color: black;
  padding-right: 0.5%;
}
.article-body-body {
  border-top: red solid 2px;
  border-bottom: red solid 2px;
  order: 2;
  grid-area: body;
  background-color: white;
  height: 80%;
  margin-top: 0;
  font-size: calc(0.5em + 0.5vw);
  padding-left: 0.5%;
  padding-right: 0.5%;
}

.article-body-box-post-info {
  order: 3;
  background-color: white;
  margin: 0;
  max-height: 6vh;
  padding-left: 0.5%;
}
.article-body-box-footer {
  order: 4;
  display: grid;
  grid-template-areas: "count votes";
  grid-template-columns: 50% 50%;
}
.article-body-box-count-area {
  padding-left: 1%;
  grid-area: count;
  background-color: white;
  border-radius: 7px;
  margin: 0;
  display: flex;
  align-items: center;
  max-height: 6vh;
}
.article-body-box-votes {
  grid-area: votes;
  background-color: white;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

/* thread input-area styling */

.article-comment-box-area {
  box-shadow: 5px 10px #888888;
  order: 2;
  background-color: white;
  border: black solid 1px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  font-size: 1.1vw;
  align-items: center;
}

.article-comment-box-header {
  order: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding-left: 1.5%;
}

.article-comment-box-form {
  order: 2;
  width: 90%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 1%;
}
.article-comment-box-input {
  order: 1;
  width: 100%;
  height: 85%;
}

/* thread comment-list styling */

.article-comment-list {
  order: 3;
  background-color: white;
  box-shadow: 5px 10px #888888;
  border-radius: 7px;
  border: 1px solid black;
}
.comments-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: red solid 1px;
  min-height: 15vh;
}
.comments-title {
  order: 1;
  min-width: 70%;
  padding-left: 1vh;
}
.comments-sort-bar {
  order: 2;
  padding-right: 1vh;
}

.comment-box {
  display: flex;
  flex-direction: column;
  border-bottom: red solid 1px;
}
.comment-box-body {
  order: 1;
}
.comment-box-info {
  order: 2;
  display: flex;
  flex-direction: row;
}
.comment-box-author {
  width: 58%;
  order: 1;
}
.comment-box-votes-info {
  width: 13%;
  order: 2;
}
.comment-box-vote-buttons {
  width: 25%;
  order: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.comment-box-button {
  width: 45%;
  height: 50%;
}
.article-page-footer {
  order: 4;
  height: 7vh;
  background-color: white;
  display: flex;
  justify-content: center;
  border-radius: 7px;
}
.error-message{
  display: flex;
  flex-direction: column;
  background-color: silver;
  position: relative;
  height: 88.5vh;
  align-items: center;
  padding-top: 11vh;
}
